@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme{
  --font-inter:'Inter',Sans-serif;
  --color-green:#54BD95;
  --color-text-gray:#A6A6A6;
}
@layer base{
  button{
    @apply cursor-pointer 
  }
}
